# for additional pywaggle install options, see:
# https://github.com/waggle-sensor/pywaggle#installation-guides
pywaggle[vision]==0.56.0

# core
numpy==1.26.4
ultralytics==8.3.5

# utilities & helpers
shapely
sympy
recordtype
pascal_voc_writer
matplotlib
pandas
tqdm
psutil

